VITE_DOCTOR_API=http://localhost:5001/api/doctors
VITE_APPOINTMENT_API=http://localhost:5002/api
VITE_PAYMENT_API=http://localhost:5005/api/payments
VITE_TELEMEDICINE_API=http://localhost:5006/api/telemedicine
